h1{
    border-style: dotted;
    border-width: medium;
}
h2{
    border-style: dashed;
    border-width: thin;
}
h3{
    border-style: solid;
    border-width: thick;
}
h4{
    border-style: double;
    border-width: medium;
}
h5{
    border-style: groove;
    border-width: thick;
}
h6{
    border-style: ridge;
    border-width: medium;
}
